.navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navbar-collapse {
  justify-content: center;
  align-items: center;
}

.navbar-collapse li::before {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background-color: #be1414;
  margin-bottom: 20px;
}

.navbar-collapse li:hover::before {
  width: 100%;
  transition: all;
}

.logo {
  width: 150px;
  margin-left: 10%;
}

.container-fluid {
  justify-content: space-between;
}

.img-whatsapp {
  cursor: pointer;
  width: 35px;
}

.home {
  display: block;
}

.home-img {
  width: 100%;
  height: 400px;
  margin-top: 114px;
  object-fit: cover;
}

.home-text {
  position: absolute;
  text-align: start;
  max-width: 250px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  left: 70%;
  top: 160px;
}

.language {
  display: flex;
  justify-content: center;
}

.language-img {
  height: 35px;
  margin: 13px;
}

.play {
  background-color: #eeeeee;
}

.play p {
}

@media screen and (max-width: 991px) {
  .home-img {
    margin-top: 90px;
    height: 400px;
    width: 100%;
    object-fit: cover;
  }

  .home-text {
  }
}

@media screen and (max-width: 840px) {
  .container-text {
    text-align: center;
    max-width: 70%;
    position: relative;
    left: 15%;
    top: 200px;
    text-shadow: 2px 2px 6px #000000b4;
  }
}
