.navbar {
  width: 100%;
}

.navbar-collapse {
  justify-content: center;
  align-items: center;
}

.navbar-collapse li::before {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background-color: #be1414;
  margin-bottom: 20px;
}

.navbar-collapse li:hover::before {
  width: 100%;
  transition: all;
}

.logo {
  width: 150px;
  margin-left: 10%;
}

.container-fluid {
  justify-content: space-between;
}

.img-whatsapp {
  cursor: pointer;
  width: 35px;
}

.container {
  display: block;

  background-color: #be1414;
}

.container-img {
  position: absolute;
  width: 100%;
  height: 400px;
  margin-top: 114px;
  object-fit: cover;
}

.container-text {
  position: relative;
  text-align: start;
  max-width: 250px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  left: 70%;
  top: 160px;
}
